html {
	background-color: #09090d !important;
	height: 100% !important;
}

body {
	scrollbar-color: hsla(0, 0%, 100%, 0.25) transparent;
	background-color: transparent !important;
}

a.MuiButtonBase-root, a.MuiButton-root, a[href]:not(.MuiButtonBase-root):not(.MuiButton-root) {
	text-decoration: none !important;
}

:root {
	color-scheme: dark;
}

:target {
	scroll-margin-top: 0;
}

.loading-bar {
	z-index: 9999;
}

#nprogress {
	border-top-color: #4f46e5;
	border-left-color: #4f46e5;
	z-index: 99999;
}

#nprogress .peg {
	box-shadow: 0 0 10px #4f46e5, 0 0 5px #4f46e5;
	z-index: 99999;
}

#nprogress .bar {
	background: #4f46e5;
	z-index: 99999;
}

.image-outline circle,
.image-outline line,
.image-outline path,
.image-outline rect {
	animation: svg-reveal 10s ease both;
}

.image-outline > path#Outline {
	background-color: rgba(0, 0, 0, 0.5);
}

.image-outline path#AppBar-2,
.image-outline path#Statistics_Form,
.image-outline path#Graph,
.image-outline path#Recent_Activity_Form,
.image-outline g#Recent_Activity > path#Button,
.image-outline path#Outline,
.image-outline path#NavBar_Line {
	animation: svg-reveal-big 4s ease both;
}

@keyframes svg-reveal {
	0% {
		stroke-dashoffset: 3000;
		stroke-dasharray: 3000;
		stroke: hsla(0, 0%, 100%, 0.05);
	}

	40% {
		stroke: hsla(0, 0%, 100%, 0.2);
	}

	to {
		stroke-dashoffset: 0;
		stroke-dasharray: 3000;
		stroke: hsla(0, 0%, 100%, 0.2);
	}
}

@keyframes svg-reveal-big {
	0% {
		stroke-dashoffset: 6000;
		stroke-dasharray: 6000;
		stroke: hsla(0, 0%, 100%, 0);
	}

	40% {
		stroke: hsla(0, 0%, 100%, 0.2);
	}

	to {
		stroke-dashoffset: 0;
		stroke-dasharray: 6000;
		stroke: hsla(0, 0%, 100%, 0.2);
	}
}

.apexcharts-tooltip.apexcharts-theme-dark {
	background: #16161e !important;
    border: 1px solid #28282f !important;
}

.apexcharts-tooltip {
	box-shadow: unset !important;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
	background: rgb(0 0 0 / 25%) !important;
	border-bottom: unset !important;
}