.link {
	@apply text-white border-b border-sky-400 font-semibold hover:border-b-2 transition-all;
}

.paragraph {
	@apply lg:text-lg text-gray-300;
}

.title {
	@apply lg:text-2xl text-gray-100;
}

.verifyFade {
	@apply flex flex-col items-center justify-center pt-16;
	animation: scalePopIn 0.5s ease-in-out;
}

@keyframes scalePopIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
