.mainWrapper {
	@apply h-full min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8;
}

.loginWrapper {
	@apply max-w-md w-full space-y-8 transition-all;
	animation: scalePopIn 0.5s ease-in-out;
}

@keyframes scalePopIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.header h1 {
	@apply mt-6 text-center text-3xl font-extrabold text-gray-200;
}

.formWrapper {
	@apply mt-8 space-y-6;
}

.formTextWrapper {
	@apply pt-6;
}

.formButton {
	@apply transition-all relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.form {
	@apply rounded-md shadow-sm -space-y-px;
}

.formText {
	@apply text-center text-gray-400 text-sm font-medium transition-all;
}

.formText span {
	@apply transition-all text-sky-300 hover:text-sky-500 cursor-pointer;
}

.inputWrapper input {
	@apply rounded-none transition-all text-gray-200 bg-slate-700 appearance-none relative block w-full px-3 py-2 border border-slate-400 placeholder-gray-400 focus:outline-none focus:ring-indigo-600 focus:border-indigo-600 focus:z-10 sm:text-sm;
}

.inputWrapper:nth-child(1) input {
	@apply rounded-t-md;
}

.inputWrapper:nth-child(2) input {
	@apply rounded-b-md;
}
